 

 body {
     background: #000000;
     color: #f0f0f0;
     height: 100vh;
     margin: 0;
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     align-items: center;
     font-family: 'Nunito';
 }

 #content {
     text-align: center;
     max-width: 800px;
     padding: 20px;
     margin-top: 250px;
 }

 #logo {
     font-size: 5rem;
     letter-spacing: 3px;
     margin-bottom: 15px;
     color: #ffffff;
     font-family: 'SigmarOne';
 }

 #content p {
     font-size: 1.2rem;
     line-height: 1.6;
     margin-bottom: 30px;
     color: #d0d0d0;
 }

 button {
     width: 160px;
     padding: 12px 0;
     margin: 8px;
     font-size: 1rem;
     border-radius: 6px;
     border: none;
     cursor: pointer;
     transition: all 0.1s;
     background-color: white;
     color: black;
 }

 button:hover {
     transform: scale(1.1);
     background-color: rgb(134, 132, 132);
 }


 footer {
     position: fixed;
     bottom: 15px;
     left: 0;
     right: 0;
     text-align: center;
 }

 footer a {
     color: #f5f5f5;
     text-decoration: none;
     font-size: 1.2rem;
 }

 footer a:hover {
     text-decoration: underline;
 }