<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENCIPHERA - FORGET PASSSWORD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <style>
        @font-face {
            font-family: 'Nunito';
            src: url("{{ url_for('static', filename='fonts/Nunito-VariableFont_wght.ttf') }}") format('truetype');
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div id="form-container">
        <form id="signup" method="POST" action="/forgetPassword">
            <h2>LOGIN</h2>

            <label for="username">USERNAME</label>
            <input type="text" id="username" name="username" placeholder="Enter Username" >


            <div class="divider">
                <span>OR</span>
            </div>



            <label for="email">E-MAIL</label>
            <input type="email" id="email" name="email" placeholder="Enter E-MAIL" >


            <button type="submit">Login</button>
        </form>
        <div id="errors" style="display:none; {% if error %}display:block;{% endif %}">

            {% if error %}
            {{ error }}
            {% endif %}
        </div>

    </div>
    </div>


</body>

</html>