<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENCIPHERA - home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <style>
        @font-face {
            font-family: 'SigmarOne';
            src: url("{{ url_for('static', filename='fonts/SigmarOne-Regular.ttf') }}") format('truetype');
            font-weight: bold;
        }

        @font-face {
            font-family: 'Nunito';
            src: url("{{ url_for('static', filename='fonts/Nunito-VariableFont_wght.ttf') }}") format('truetype');
            font-weight: bold;
        }
    </style>
</head>

<body>

    <div id="content">
        <h2 id="logo">ENCIPHERA</h2>

        <p>
            ENCIPHERA encrypts your notes on-device so only you can read them.
            Zero-knowledge, frictionless access — privacy without compromise.
        </p>

        <button id="login">LOGIN</button>
        <a href="{{ url_for('signup') }}">
            <button id="signup">SIGN UP</button>
        </a>
    </div>

    <footer>
        <a href="https://github.com/Neravahn/ENCIPHERA" target="_blank">
            <img src="{{ url_for('static', filename='images/icons8-github-50.png') }}" alt="GitHub"
                style="width:25px; height:25px; vertical-align:middle; margin-right:2px;margin-bottom:2px; filter: invert(100%);">
            GITHUB
        </a>
    </footer>

</body>

</html>