<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <style>
        @font-face {
            font-family: 'Nunito';
            src: url("{{ url_for('static', filename='fonts/Nunito-VariableFont_wght.ttf') }}") format('truetype');
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div id="form-container">
        <form id="otp_verify" method="POST" action="/verify_fpotp">
            <h2>OTP VERICATION</h2>

            <label for="password">PASSWORD</label>
            <input type="password" id="password" name="password" placeholder="Enter Password" required>

            <label for="confirm_password">CONFIRM PASSSWORD</label>
            <input type="confirm_password" id="confirm_password" name="confirm_password" placeholder="Re Enter Password"
                required>

            <button type="submit">SUBMIT</button>
        </form>
        <div id="errors" style="display:none; {% if error %}display:block;{% endif %}">

            {% if error %}
            {{ error }}
            {% endif %}
        </div>

    </div>
    </div>


    <script>
        const Password = document.getElementById('password').value;
        const ConfirmPassword = document.getElementById('confirm_password').value;
        const errorDiv = document.getElementById('errors');
        const form = document.getElementById('otp_verify');

        form.addEventListener('submit', function (event) {
            errorDiv.innerHTML = "";
            errorDiv.style.display = "none";


            let errors = []
            if (password.value !== confirm_password.value) {
                errors.push('PASSSWORDS DO NOT MATCH');
            }

            if (errors.length > 0) {
                event.preventDefault();
                errorDiv.style.display = "block";
                errorDiv.innerHTML = errors.join("<br>");
            }
        })
    </script>
</body>

</html>